[2015-11-22 10:04] jpv001 opened #1 "Change "Dayly" to Daily in AddEventViewController"
Former-Demo/Former-Demo/Controllers/AddEventViewController.swift line:28

```case Daily: return "Dayly" ```

Should be:

```case Daily: return "Daily" ```

[2015-11-26 17:27] philipheinser opened #2 "Carthage support"
Would be great if this project could be installed via carthage.

[2015-11-29 18:57] ra1028 commented on #1
@jpv001 THX! I fixed it.

[2015-11-29 19:01] ra1028 commented on #2
@philipheinser
Carthage support has completed !

[2015-11-29 19:01] #2 closed

[2015-11-29 19:01] #1 closed

[2015-11-29 19:02] philipheinser commented on #2
@ra1028 Awesome! Thanks!!

[2015-11-30 17:47] neilaur opened #3 "Segmented control with no selection"
Hi,

I want to show a segmented control without selection at creation (but not momentary). So, I've specified the attribute "selectedIndex" with the value "UISegmentedControlNoSegment". But, when i click for the first time on the segmented control, the app crash :

<code>
Former-Demo[45492:7325632] *** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM objectAt

[2015-12-08 08:24] top2tech opened #4 "Expose attributed text for Label"
Currently only text is exposed. it will be great to expose attributed text, so FontAwesome icons can be placed in front of label.

Thanks!

[2015-12-08 08:31] top2tech commented on #4
Actually it's already there,nice!
row.cell.textLabel!.attributedText

[2015-12-08 08:31] #4 closed

[2015-12-10 08:41] jechol opened #5 "ViewFormer not showing correctly even in your example."
When I launch your example(with navigation controller just for clarity),
label and inline picker appears correctly.

But header view is not appears. It just take space.

Please see my screen shot.

![simulator screen shot dec 10 2015 5 36 45 pm](https://cloud.githubusercontent.com/assets/795125/11710800/32026912-9f65-11e5-8a6b-926e7d909e7d.png)

[2015-12-10 09:15] jechol commented on #5
I found label.height = 0.

![formerex_xcworkspace](https://cloud.githubusercontent.com/assets/795125/11711455/e6ee1246-9f69-11e5-9dc9-0eedf167d767.png)

[2015-12-10 10:19] jechol commented on #5
The example was wrong.

[code]

should be

[code]

[2015-12-10 16:06] manuelvanrijn opened #6 "Issues refreshing pickerItems"
Hi,

Maybe I'm missing something but I'm having some troubles refreshing the `pickerItems` on a `InlinePickerRowFormer`

My goal is to load different items in a `InlinePickerRowFormer` based on the selection of another `InlinePickerRowFormer`

I've tried removing and adding items calling `update()` on the row and `self.somerow.former?.reload(rowFormer: self.otherrow)` but both seem to ignore the c

[2015-12-20 16:21] ra1028 commented on #5
@jechol
Sorry, my example is wrong.
Correctly:
[code]
or
[code]

[2015-12-20 16:22] #5 closed

[2015-12-31 06:07] arishanapalli opened #7 "Objective C language"
Can we have in objective-C language. Former profile implementation,

[2016-01-04 02:25] SMFakhir opened #8 "UITableViewRowActions"
Any idea, how to use UITableViewRowActions in this? I don't think its supported.

[2016-01-08 14:55] brokeniceinteractive opened #9 "get all value as array"
Is there a way to get all value of the form as array or nsDICTIONARY? how can i get all the value to call a rest api?

[2016-01-10 11:12] brokeniceinteractive commented on #9
Anyone???

[2016-01-14 01:45] iAladdin opened #10 "I try to use LoginInViewController in my project,but failed."
SignInVC.swift:43:28: Property 'tableView' with type 'UITableView?' cannot override a property with type 'UITableView'

[2016-01-14 01:46] iAladdin commented on #10
<img width="454" alt="2016-01-14 9 46 12" src="https://cloud.githubusercontent.com/assets/209606/12313577/b08dc868-baa3-11e5-8280-576e51e1ea21.png">

[2016-01-14 02:09] iAladdin commented on #10
I shouldn't use FormViewController as my SignInVC's parent class. Thank you

[2016-01-14 02:09] #10 closed

[2016-01-14 05:14] ra1028 commented on #9
@brokeniceinteractive
Still not.
And not plan to support it now.

If you want to get the value from all RowFormer as NSDictionary, try as following:

[code]

[2016-01-14 06:01] ra1028 commented on #8
@SMFakhir
Sorry, still not supported.

[2016-01-14 06:02] ra1028 commented on #7
@arishanapalli
Sorry, objective-C is not support.

[2016-01-14 06:02] #7 closed

[2016-01-14 06:02] #8 closed

[2016-01-14 06:03] #9 closed

[2016-01-16 21:37] josejuanqm opened #11 "Search not working"
How do you make the search controller work with former?

[2016-01-25 07:44] wishsoul opened #12 "not adapt for iPad"
![img_0003](https://cloud.githubusercontent.com/assets/6064240/12545116/8557c6fa-c37a-11e5-81fc-60b64f80ef4c.PNG)
![img_0004](https://cloud.githubusercontent.com/assets/6064240/12545117/85ac333e-c37a-11e5-985f-fab2e761c9cc.PNG)

[2016-02-07 03:39] sirvine opened #13 "API for becomeFirstResponder?"
I have tried both `row.cell.textField.becomeFirstResponder()` and
[code]
...but neither seems to trigger selection of the row.  Am I missing something obvious?

[2016-02-07 03:41] sirvine opened #14 "API for becomeFirstResponder?"
I am trying to make a TextFieldRowFormer the default selection for the form, so that the keyboard is up and ready when the form appears.

I have tried both `row.cell.textField.becomeFirstResponder()` and
[code]
...but neither seems to trigger selection of the row.  Am I missing something obvious?

[2016-02-07 03:43] sirvine commented on #14
Of course, I discovered immediately after posting. The answer is

[code]
in case anyone else has the same question.

[2016-02-07 03:43] #14 closed

[2016-02-07 16:11] sirvine commented on #13
Duplicate of #14

[2016-02-07 16:11] #13 closed

[2016-02-16 01:22] jmscarpa commented on #6
@manuelvanrijn any luck with this issue?

[2016-02-18 14:34] ra1028 commented on #3
Sorry for the late.
Fixed this at ver 1.2.0

[2016-02-18 14:34] #3 closed

[2016-02-22 08:11] manuelvanrijn commented on #6
@jmscarpa nop, I've resolved it using a PushRow instead. Although now I'm looking at the source again and maybe triggering `evaluateDisabled()` on the target row might work, after setting the new options.

[2016-02-24 17:37] gbmiranda opened #15 "Enable editActionsForRowAtIndexPath"
its possible to enable editActionsForRowAtIndexPath??

[2016-03-01 05:07] arishanapalli commented on #7
Brilliant work in swift!

Hope to get for objective-C

[2016-03-09 08:09] dlpigpen opened #16 "Can change style of UItableview"
I think we should put an option that we can change the style of the tableview and the tableview should be a var to easy to change value of the property.

[2016-03-13 10:21] ajaysinghthakur opened #17 "userinteraction enable or disable of cells"
can i manually enable and disable the userinteraction of cell

[2016-03-16 11:28] lucabecchetti opened #18 "Errore while hide/show dateRow"
Hi, i have this code that works fine:

`private func switchInfomationSectionDate() {
        if moreInformationDate == true {
            former.insertUpdate(rowFormer: allDayRow!, below: moreDate!)
            former.insertUpdate(rowFormer: locationRow!, below: allDayRow!)
            former.insertUpdate(rowFormer: selectAddressRow!, below: locationRow!)
        } else {
            former.remove

[2016-03-17 19:09] brokeniceinteractive commented on #18
Nobody can help me???!

[2016-03-28 10:29] FredvanRijswijk commented on #16
Where to change the style of subheadings like Profile Image text and the gray tableview?

[2016-04-01 23:55] GadgetAddict opened #20 "New Developer"
I cannot even call myself a developer yet, b/c I'm still brand new... so please forgive me for this....
When I Run Former  and even Former Demo,  it builds but there's no Simulator or even a Storyboard that I can find... I thought I was going to be able to see examples.

Thank you!

[2016-04-04 10:34] metabren commented on #20
When you fire up the demo project in Xcode, have you tried changing the build scheme?

![Choosing a build scheme](https://cloud.githubusercontent.com/assets/749593/14245432/613b5936-fab5-11e5-893e-0bacb806f3fd.png)

The demo project launches with it set to the framework rather than the demo app.

[2016-04-04 12:20] GadgetAddict commented on #20
Thank you Brendan,

I’ve never seen that section of Xcode and it was defaulted to the Framework.  When changing it to the Former-Demo it worked perfectly.

Wow..

Thank you for helping and for showing me something new.

Michael

[2016-04-04 12:21] metabren commented on #20
No problem, Michael.  Happy coding! :)

[2016-04-11 13:41] AdrienGiboire opened #21 "Define a list of InlinePickerItem from a Realm data source"
I'm fetching data from a realm model.

[code]

Then I try to define a list of `InlinePickerItem` from it:

[code]

But XCode keeps saying: `Cannot convert value of type 'Int' to expected argument type '_?'`, pointing to `industry.id`.

Am I missing something?

[2016-04-12 16:14] #21 closed

[2016-04-16 14:38] vinnyoodles opened #22 "Removing all sections error"
I am using each section to display one model, so every time the view controller loads it will fetch the current models that I want to display. So I'd like to remove all the sections in `viewWillAppear` before I populate it with the filtered models.

But when I try adding the `former.removeAll()` method, it gives me this error `fatal error: Index out of range`

This is what my `viewWillAppear` look

[2016-04-16 14:41] vinnyoodles commented on #22
I'm thinking the issue that there isn't a catch in the `removeAll` where there are no sections to remove.
Because I am getting the crash when the view first appears so I haven't added any sessions yet

[2016-04-16 14:55] vinnyoodles commented on #22
I solved the issue by adding a boolean where I set it equal to true when I add a session in the view's life cycle, so something like

[code]

But this is annoying that I have to add my own variable to see if the `sectionFormers` variable has any values in it. It would be better if there was a public function in `Former` where I can check if there are any sections or even better include this check

[2016-04-16 14:55] vinnyoodles commented on #22
It works now, but hopefully this feature will come in a new update

[2016-04-16 14:55] #22 closed

[2016-04-21 12:50] Maxdw opened #23 "question using LabelViewFormer and FormLabelHeaderView"
I'm new to swift and started using Former and was wondering why:
[code]

Works versus using:

[code]

Which doesn't seem to work.

When I don't force it on the main queue, the label text just doesn't show up. I'm using the following controller set up:

[code]

And then basically running the ['Simple example' code from the README.md](https://github.com/ra1028/Former#simple-example) in the viewDidLo

[2016-04-21 13:28] Maxdw commented on #23
Although the UILabel disappears when scrolling the tableview, but that may be a autolayout issue?

![UILabel disappearing when scolling tableview](http://cdn.makeagif.com/media/4-21-2016/Nn21rE.gif)

[2016-04-21 13:32] Maxdw commented on #23
Should've read the closed issues, solved it all by using:

let header = LabelViewFormer<FormLabelHeaderView>()
header.text = "Label Header"

[2016-04-21 13:32] #23 closed

[2016-04-24 14:44] Maxdw opened #25 "prototype cells"
Is it possible to use Former in combination with TableView prototype cells? As in instantiating rows using table.dequeueReusableCellWithIdentifier?

[2016-04-27 02:53] sinanku opened #26 "Update Header Color"
I was wondering if we could have an option to update the header background color, to match other UI color schemes?

Something like...

[code]

[2016-05-11 10:19] vitobellini opened #27 "imageView in cells"
Hi,
I'm addressing an issue when I try to set an image for the cell's default imageView

![former](https://cloud.githubusercontent.com/assets/165743/15177820/6ee7ce46-1772-11e6-9602-e9e0bccbfcb3.png)

my code is:

`       // MARK: Protection

[code]

I think that should be fixed :)

[2016-05-11 10:35] Progeny commented on #27
I've temporary fixed it by adding a layout constraint
`			let constraints = [
				NSLayoutConstraint.constraintsWithVisualFormat(
				"H:|-15-[image]-10-[label(>=0)]",
				options: [],
				metrics: nil,
				views: ["label": $0.titleLabel, "image": $0.imageView!]
				)
				].flatMap{$0}

			$0.addConstraints(constraints)`

but I hope this kind of stuff to be addressed by you amazing library!
an ele

[2016-05-20 19:18] BlaineOmega opened #28 "Update position of textField in cell"

[2016-05-20 19:22] #28 closed

[2016-05-30 16:20] mwapptest opened #29 "compilation error on tags 1.3.0"
Dear Sir,
I just cloned git checkout tags/1.3.0 repo to run examples but I am getting 28 errors.

../Former/Former/Commons/FormerProtocol.swift:22:5: Expected declaration
../Former/Former/RowFormers/SliderRowFormer.swift:53:51: Expected expression in list of expressions

It must be something missing from my end. Can you please help me how to run the examples so I can learn this awesome lib?

[2016-06-23 07:40] vkosmirak opened #32 "`deinit` is newer called"
I subclass from `FormViewController` and configure `former`
When I pop this controller, `deinit` is not called

Is it some way to remove my `ViewController` from memory?

[2016-06-23 08:05] vkosmirak commented on #32
I fixed it by calling next code in my `ViewController`

       override func viewWillDisappear(animated: Bool) {
           super.viewDidDisappear(animated)

           former = Former(tableView: UITableView.init())
      }

[2016-07-12 07:49] frankl98 commented on #18
Its an additional removed lines in func `private func removeRowFormers(rowFormers: [RowFormer]) -> [NSIndexPath] `

code must be changed to (look at the part that is commented out):
`    private func removeRowFormers(rowFormers: [RowFormer]) -> [NSIndexPath] {
        var removedCount = 0
        var removeIndexPaths = [NSIndexPath]()
        for (section, sectionFormer) in sectionFormers.enumerat

[2016-07-12 08:00] frankl98 opened #33 "inline pickers: setting of selected item not reflected in the picker (iOS 9.3)"
due to a missing reload of the picker, a setting of a selected item of the picker is not shown.

In file PickerRowFormer.swift the following line must be added after line `let picker = cell.formPickerView()`:

`picker.reloadAllComponents()`

[2016-07-13 02:41] justyn44 opened #34 "Double Text Field Cell Setup"
Hi there,

Relatively new to Swift and hoping someone may have had luck setting up the default ProfileFieldCell to accept two UITextFields as inputs. I saw the sample code provided, but was not able to seem to get it running.

Any help is greatly appreciated, thanks a bunch! :)

[2016-07-14 06:38] jennyh opened #35 "removeUpdate crashes on inline rows"
It looks like removeRowFormer always marks the inline row for deletion, even when it is not active.

[2016-07-27 00:18] pprevalon opened #36 "How can I add a title on the left side like the one in your example to a ui switch"

[2016-07-28 04:41] joaoritter opened #37 "Docs inconsistent with implementation "SelecterPickerFormableRow""
SelecterPickerFormableRow should be SelectorPickerFormableRow in the docs.

[2016-08-09 15:44] mdtempalert commented on #36
Implement configure() and access the cell's formTitleLabel().

[code]

[2016-08-09 17:05] mdtempalert commented on #18
With Markdown. This patch works for me....

[code]

[2016-08-11 13:02] frankl98 commented on #18
@mdtempalert yes thats the solution!

[2016-08-19 04:54] alpascual opened #39 "Swift 3.0"
Any chance to have a swift 3.0 version? Its a fantastic project!

[2016-08-24 12:43] hajnalben commented on #33
+1

[2016-08-28 17:03] EralpB commented on #9
I think this feature would be awesome.

[2016-09-14 08:40] mattjgalloway commented on #39
Has anyone done a Swift 3 port yet? I started, but it's heavy going! I'm not that far off, but un-tested as yet, and I don't have full context of this project to know what things should look like under Swift 3.

[2016-09-14 09:19] mattjgalloway commented on #39
My attempt is complete, and the demo works. #40 is the PR.

[2016-09-18 13:37] bendash commented on #39
it would be awesome if the class access would be _open_ instead of _public_

[2016-09-18 13:43] mattjgalloway commented on #39
Oh yes, that would be a good idea! I could do that when I get time, or I'm totally happy if someone else take it on.

[2016-09-25 19:50] ra1028 commented on #39
I released [swift3 supported version](https://github.com/ra1028/Former/tree/1.5.0) !
[Cocoapods](https://cocoapods.org/pods/Former)
Awesome job @mattjgalloway !

[2016-09-25 19:50] #39 closed

[2016-09-28 07:39] KanybekMomukeyev opened #41 "Serious performance issue, if open FormViewController for the first time."
Hi @ra1028 , first of all, thanks  for good library,
if i open formViewController for the first time, it's waiting for 2-3 seconds, and then opens view controller, can we avoid this issue?
I am developing app for ipad 2 generation, and this is really issue.

[2016-10-06 16:05] jennyinf opened #43 "FormCell init(style: UITableViewCellStyle, reuseIdentifier: String?) not public"
In swift 3, if I don't set this method to public, my custom (non xib) cell classes fall over when the rowFormer tries to create them

The same applies to FormHeaderFooterView

[2016-10-10 08:08] mattjgalloway commented on #33
Yeh this happens for me also. Looks like #31 fixes this.

[2016-10-26 05:12] alldritt commented on #12
I am experiencing the same issue on the iPad.  Its particularly bad on an 12" iPad Pro.  I've spend the afternoon poking around the code trying to figure out why the cell widths are not properly expanding.

If someone can give me a clue where to look, I'll have another go.

[2016-11-01 08:23] doanhuybinh90 opened #45 "CustomRowFormer for Button"
No description provided.

[2016-11-19 01:14] arp001 opened #46 "Question about InlinePickerView"
How can I detect whether a user has chosen a particular item in the pickerview? More specifically, when a user chooses an item in the inlinepicker view, I want to invoke a function call and use those results in the function. I tried calling the function in the .OnValueChanged closure but have been getting issues regarding namespace. Can someone give me an example of how to achieve this?

Thanks a

[2016-12-07 17:15] BabyAzerty opened #47 "Placeholder of TextViewRowFormer doesn't handle multiple lines"
Hello,

I have a long placeholder for a TextViewRowFormer but I can't show it on multiple lines unfortunately.

Is there something to set to handle this case?

![image](https://cloud.githubusercontent.com/assets/1152371/20978365/f9ee3544-bca8-11e6-948d-41e46313acf3.png)

[2016-12-24 08:49] taiyoOzora opened #49 "removeUpdate crash on items with inline"
My Code:
[code]

It returns this error

[code]

I'm sure my code works well as if i replace `itemDateTime` with `itemNumber` it works well with removing and inserting multiple times.

Sorry I am still learning swift so I can't help with debugging it.

[2017-01-03 05:01] indivisable opened #50 "Disabling/Enabling of Rows"
Does anyone know if it is possible or best way to implement disabling of individual rows?

**Update -** Best reference I have found is: https://github.com/ra1028/Former/blob/master/Former-Demo/Former-Demo/Controllers/DefaultsViewController.swift

[2017-01-03 07:41] #50 closed

[2017-01-18 15:14] #6 closed

[2017-01-19 04:07] arronhunt opened #54 "FormLabelHeaderView background color"
Hello,

I'm trying to customize the appearance of my table. I set the backgroundColor to a different grey, however my headers have the previous background color with no apparent way to change it. Am I missing something or do I have to create a custom view just to change the background?

[2017-01-19 04:21] arronhunt commented on #54
Commented out line 28 in `FormHeaderFooterView.swift` and it works.

[2017-01-26 01:32] arronhunt commented on #16
Going to bump this one because I think it's pretty important

[2017-01-26 22:58] arronhunt commented on #54
Realized this is a duplicate https://github.com/ra1028/Former/issues/26

[2017-01-26 22:58] #54 closed

[2017-02-02 10:31] stefanoa commented on #43
It is happening to me also, for the class FormCell.
When using it the app will crash with:

fatal error: use of unimplemented initializer 'init(style:reuseIdentifier:)'

making the initialiser public fix the problem

[2017-02-07 14:50] benwalch commented on #33
31 fixes this for me too - any updates?

[2017-02-13 18:06] pointspy commented on #49
I have the same problem with InlineDatePickerRowFormer<FormInlineDatePickerCell> and removeUpdate.

[2017-03-14 00:06] mrdaios opened #57 "build cell without reused?"

[2017-03-22 19:17] khoogheem commented on #46
Here is what I have and it works fine.
My only hang up was I didn't have the InlinePicker init with Value, so it was always nil....

[code]

[2017-04-14 20:00] khoogheem opened #58 "attributedText Clearing out color after selected on Inline Picker"
Here is what I have been seeing.  I have an inline picker with color in the title.  When I select the row it shows the picker.  However when it closes up the color in the Title goes back to solid black.

[code]

[2017-06-20 11:22] phr85 commented on #12
Any news about this issue?

[2017-06-20 18:06] alldritt commented on #12
No, nothing.  In the end I chose to move to another form library.

[2017-06-21 08:34] phr85 commented on #12
@alldritt ah okay. which one do you use now?

[2017-06-27 04:29] joaoritter opened #59 "make cellSelected 'open'"
It would be nice to be able to override this function!

[2017-06-29 14:45] alldritt commented on #12
Eureka

[2017-08-07 05:59] ADevelopStudio opened #61 "Is there a way to detect if Section already contents RowFormer?"
Want to write login to add new RowFormer to section but need to check if there is already the same RowFormer.
kinda:
`        former.rowFormers.contains(where: <#T##(RowFormer) throws -> Bool#>)
`

[2017-08-07 06:13] ADevelopStudio commented on #61
Already found out but a bit not secure way, sorry :)

`        let already = formers.contains(where: {$0.cell.titleLabel.text == self.NEEDED_FORMER_.cell.titleLabel.text})
`

[2017-08-14 04:33] ADevelopStudio commented on #12
1. create ViewController (**UIViewController NOT FormerViewController**) on Storyboard
2. add UITableVIew as `@IBOutlet weak var tableView: UITableView!`
3. ` lazy var former: Former = Former(tableView: self.tableView)`
4. Profit!

[2017-10-23 08:33] #57 closed

[2017-11-21 20:13] NachoSoto opened #63 "Header/footer example in README is incorrect"
[code]

`LabelViewFormer.update` is implemented like this:
[code]

Which means that the text is overridden by the `text` set in `LabelViewFormer`.
The correct usage would be:
[code]

But I'd argue it's `LabelViewFormer` that should be changed.

[2017-11-27 22:53] ZacharyKhan commented on #20
Could we close this issue?

[2017-11-27 22:54] GadgetAddict commented on #20
Who is this and what issue are you talking about ?

[2017-11-27 22:54] ZacharyKhan commented on #33
I've submitted #64 which fixes this.

[2017-11-29 00:17] metabren commented on #20
@GadgetAddict you asked a question about the "Former" iOS library through Github issues. You got an email from @ZacharyKhan because he commented on the issue, asking if someone (you?) could close this issue as it's been solved.

Hopefully this screenshot comes through in the email but your reply went straight onto the Github issue:

![screen shot 2017-11-29 at 1 15 56 pm](https://user-images.githu

[2017-11-29 03:09] GadgetAddict commented on #20
Yes.  Close

[2017-11-29 03:09] #20 closed

[2017-11-29 06:27] ZacharyKhan commented on #61
Can you close the issue if you've solved the problem?

[2017-11-29 06:29] ZacharyKhan commented on #63
If you've tested the above code, I'd suggest forking the repo, updating the README, and submitting a pull request with the changes.

[2017-11-29 06:30] ZacharyKhan commented on #59
I can attempt this tonight and submit a PR for it. I'll link the PR here when I've submitted it.

[2017-11-29 06:32] ZacharyKhan commented on #45
Can you provide a description of your issue or what you're requesting exactly?

[2017-11-29 06:33] ZacharyKhan commented on #35
Can you provide a code snippet so I can replicate this and fix it?

[2017-11-29 06:35] ZacharyKhan commented on #27
I can attempt to update this and submit a PR shortly. I'll set a check on the cell imageView, if it is not nil it will activate a layout constraint to push the label to the right of the imageView.

[2017-11-29 07:20] jennyh commented on #35
No, Sorry,

This was over a year ago.  I stopped using Former and switched to Eureka.

[2017-11-29 07:59] ZacharyKhan commented on #35
No problem, please close this issue so we can help those who still use Former 👍

[2017-11-29 08:15] widemouthsupport commented on #35
Ok, especially as a duplicate if #49

[2017-11-29 08:16] #35 closed

[2017-11-29 08:19] ZacharyKhan commented on #29
Can you close this issue? Update to version 1.6.0 and if the problem persists please open a new issue.

[2017-11-29 12:51] #29 closed

[2017-11-29 17:26] #33 closed

[2017-11-29 17:29] ZacharyKhan commented on #59
Merged #60 to master, this should fulfill your request!

[2017-11-29 17:29] #59 closed

[2017-11-29 17:40] ZacharyKhan commented on #46
Closing due to age, if you find yourself having any further questions or concerns, feel free to open another issue.

[2017-11-29 17:40] #46 closed

[2017-11-29 17:41] #45 closed

[2017-11-29 17:44] ZacharyKhan commented on #11
As of iOS 11.0, you can implement a `UISearchController` in your `UINavigationController'. Check this out for a more detailed tutorial, https://medium.com/@PavelGnatyuk/large-title-and-search-in-ios-11-514d5e020cee.

[2017-11-29 17:44] #11 closed

[2017-11-29 17:45] ZacharyKhan commented on #25
Have you attempted it? If so, what issues did you run into?

[2017-11-29 17:58] ZacharyKhan commented on #32
Interesting, if you run into an error feel free to create a new PR. Closing due to lack of info/context on the issue.

[2017-11-29 17:58] #32 closed

[2017-11-29 18:00] ZacharyKhan commented on #36
Closing due to age & inactivity. The demo example provided as a part of the `AddEventViewController` contains a switch with a label. Take a look at that and replicate what's done in the demo 👍

[2017-11-29 18:00] #36 closed

[2017-11-29 18:01] ZacharyKhan commented on #37
Closing this, I would suggest submitting a PR with the changes made to the README 👍

[2017-11-29 18:01] #37 closed

[2017-11-29 18:08] #61 closed

[2017-11-29 18:28] ZacharyKhan commented on #18
Closing, solution found.

[2017-11-29 18:28] #18 closed

[2017-11-29 18:29] ZacharyKhan commented on #16
I'll update this ASAP. I agree, the `tableView` property of `FormViewController` shouldn't be marked as private if there's no solid reasoning.

[2017-11-29 18:36] #16 closed

[2017-11-29 18:38] ZacharyKhan commented on #12
Closing due to inactivity and solution posted by @ADevelopStudio

[2017-11-29 18:38] #12 closed

[2017-11-29 18:41] ZacharyKhan commented on #26
I'll look into this shortly.

[2017-11-29 18:43] ZacharyKhan commented on #17
yes, you can do it like this

[code]

[2017-11-29 18:43] #17 closed

[2017-11-29 18:44] ZacharyKhan commented on #41
Can you provide a code snippet? 2-3 seconds sounds like something else is going on here.

[2017-11-29 18:50] ZacharyKhan commented on #15
[code]

[2017-11-29 18:50] #15 closed

[2017-11-29 18:52] ZacharyKhan commented on #49
Fixed in #64

[2017-11-29 18:52] #49 closed

[2017-11-29 19:04] #41 closed

[2017-11-29 19:06] ZacharyKhan commented on #34
Closing due to age. Try it out with version 1.6.0, there’s been a lot of updates to Former.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-29 19:06] #34 closed

[2017-11-29 19:07] #25 closed

[2017-11-29 22:11] NachoSoto commented on #63
Wouldn't it make more sense to keep this issue open until I or somebody else fixes the issue AND the `README`? This is not just a documentation problem, the API is incorrect because it leads to this potential problem, as I explained:

[2017-11-29 22:24] ZacharyKhan commented on #63
My mistake, I assumed it was just the README from the title and I was trying to clean up the issues/PR’s late last night. I’ll reopen until a PR for the README & API is submitted

[2017-12-14 03:47] danmartyn opened #66 "Change label attributes for FormLabelCell"
I'm trying to create a Delete button row, by using a FormLabelCell and then setting the textAlignment to be centered and the textColor to be red. However, those changes don't seem to be working. I'm creating my section like this
[code]

When I run this, I get a FormLabelCell, but the "Delete" text is still left aligned and black, not red and centered. Any ideas?

[2017-12-14 03:57] ZacharyKhan commented on #66
I'm assuming that `self.startDeleteWorkflow()` is where you are trying to update the cell. If that is the case, you need to call `update()` or `cellUpdate()` on the row.

Refer to the README to see how `update()` and `cellUpdate()` work.

[2017-12-14 03:59] danmartyn commented on #66
the startDeleteWorkflow function is where I create an action sheet to confirm if the user wants to do the deletion. Is changing the cell's text label in configure not the correct spot? I'm using update in my other section, but thats to change the content in a text field, not the attributes of it?

[2017-12-14 04:28] ZacharyKhan commented on #66
I believe when you update the user interface of any row you should be using the `update()` or cellUpdate()` function on the row.

Do you have a repo with the example code you're referring to?

[2018-01-05 11:25] Recouse opened #67 "Inserting bug"
When I use `former.insertUpdate(rowFormer: someRow, below: otherRow, rowAnimation: .top)` it inserts `someRow` empty space even it already inserted.

[2018-01-12 11:42] Recouse commented on #67
@ra1028

[2018-02-01 01:00] ZacharyKhan commented on #66
After reading this over once again, I think to accomplish your goal you should use a CustomRowFormer. Check the README and example with custom row, it isn't too complex IMO. If you need help with that, feel free to create a new issue.

If you still need to use `LabelRowFormer` for some reason, use one of the `update()` blocks on the cell to modify the cell and its subviews.

Closing due to inactiv

[2018-02-01 01:00] #66 closed

[2018-02-01 01:02] ZacharyKhan commented on #67
Can you provide a code snippet here so that I can replicate this and hopefully get you a fix?

[2018-02-01 06:49] Recouse commented on #67
You can replicate it by trying to inserting already inserted row.

[2018-02-01 13:02] Recouse opened #68 "Updating header text"
Can't update section header text. I tried:
[code]
and:
[code]
also tried:
[code]

[2018-02-01 18:30] ZacharyKhan commented on #68
Please reference the demo project provided. There’s an example in [EditProfieViewController](https://github.com/ra1028/Former/blob/master/Former-Demo/Former-Demo/Controllers/EditProfileViewController.swift) at the bottom of the `configure()` function that shows how to set section header text.

[2018-02-01 18:35] ZacharyKhan commented on #47
Hey @BabyAzerty, have you found a solution?

[2018-02-02 02:52] Recouse commented on #68
It works on creation. But doesn't work for updating.

[2018-02-02 06:10] ZacharyKhan commented on #68
Ahh I see, I’m going to assign this one to @ra1028. He knows best with this stuff.

[2018-02-02 06:19] Recouse commented on #68
I've found in the source that it's possible by calling `update()` method after text changing. Like this:
[code]

[2018-02-02 06:24] ZacharyKhan commented on #68
Does this code work for you?

[2018-02-02 06:27] Recouse commented on #68
Yep. But it will be better if this released in a new method for title changing.

[2018-02-02 06:58] ZacharyKhan commented on #68
I agree, maybe something like this:

[code]

[2018-02-02 08:40] Recouse commented on #26
You can create custom HeaderView:
[code]

[2018-02-03 07:25] Recouse opened #70 "Make custom expandable cell"
How to make a custom expandable cell? I tried:
[code]
but it's not working.
Maybe someone already did this.

[2018-02-03 22:43] #68 closed

[2018-02-08 16:54] BabyAzerty commented on #47
@ZacharyKhan Yes, I ended up creating my own cell

[code]

And you just have to create a xib with a single uitableviewcell view + a uitextview inside it (and link them to the DescriptionEurekaCell).

[2018-02-13 18:02] vinced45 opened #71 "Adding Swipe Actions to UITableCells"
Do you have any plans to add Swipeable Cell Actions like seen in the Mail App. Or do you know how we can extend this framework to achieve this. I tried extending `Former` but that didn't work

[2018-03-01 18:14] Daxito opened #72 "Pulldown to refresh"
I added a UIRefreshControl() to the tableView on a view controller that inherits from FormViewController and the refresh indicator (the spinning icon) won't appear when pull down, is this a known issue with Former? or am I missing something? It does trigger the Refresh, but it is just the missing icon indicator.
Great pod!!!

Thanks

[2018-03-30 09:42] ilyatar opened #73 "Remove crash"
Crash If remove all rows from section:
`section.remove(rowFormers: section.rowFormers)`
because it method is incorrect:
`public func remove(rowFormers: [RowFormer]) -> Self {
        var removedCount = 0
        for (index, rowFormer) in self.rowFormers.enumerated() {
            if rowFormers.contains(where: { $0 === rowFormer }) {
                remove(atIndex: index)  //REMOVE INSIDE CYCLE, CO

[2018-03-30 19:39] ilyatar commented on #73
It's right:

`    public func remove(rowFormers: [RowFormer]) -> Self {

        for rowFormer in rowFormers {
            if let index = self.rowFormers.index(where: {$0 === rowFormer}) {
                remove(atIndex: index)
            }
        }

        return self
    }
`

[2018-03-31 19:02] ilyatar opened #74 "why do you forcefully stop editing when scrolling a table?"
`public func scrollViewWillBeginDragging(_ scrollView: UIScrollView) {`
`       endEditing()`
`       onBeginDragging?(scrollView)`
`}`

[2018-04-05 17:51] ZacharyKhan commented on #72
Hey @Daxito, can you provide code examples of how you are setting up the `UIRefreshControl` and adding it to the `UITableView`?

[2018-04-24 01:27] EagleA opened #77 "Argument labels '(rawValue:)'...no matching overloads"
Today, I upgraded to High Sierra with Xcode 9.3.  Now, I'm getting an error message on UILayoutPriority(rawValue: 500)...which says "**Argument labels '(rawValue:)' do not match any available overloads**"  .  This is also happening on the following classes:

FormInlinePickerCell
FormLabelCell
FormInLineDatePickerCell
FormSelectorPickerCell
FormSelectorDatePickerCell
FormTextFieldCell
FormTextViewC

[2018-04-24 04:32] EagleA commented on #77
I tried changing the Swift Language Version of the Former pod to 4.1, and that seemed to work.

[2018-04-24 04:33] #77 closed

[2018-05-12 01:03] Daxito opened #78 "InlinePickerRowFormer resets "selectedRow" back to index 0"
Hi,
Line 79 of this file
Former/Former/RowFormers/InlinePickerRowFormer.swift
causes not being able to set selectedRow to different index:
              `}.configure{
                $0.pickerItems = SOME_COLLECTION_WITH_100_ITEMS
                $0.selectedRow = 2 //<--- This is always overwritten by line 79 back to 0
            }`

Thanks

[2018-05-14 11:43] croyneaus4u commented on #78
We can have a

`selectedRow = 0` only when `selectedRow >= pickerItems.count`

IMO that would be a better approach for the fix that you have employed for **index out of range**

[2018-06-10 18:24] HaikuOezu opened #81 "InlinePickerRowFormer: how to select a picker item programmatically"
Hello,
I'm using former to allow the user to edit some data that is persisted locally, as such when initializing my view controller I need former rows to display the current values of the object
I have a InlinePickerRowFormer that allows the user to choose between multiple possible values, and I have noticed that no matter what I do it will always default to the first item in the picker, even if s

[2018-06-10 18:51] HaikuOezu commented on #81
After a bit more research it seems like there's no way to fix this without changing the behavior of former as indicated in issue #79

[2018-07-17 18:22] B0Dim commented on #81
+1

[2018-07-17 21:08] Daxito commented on #81
+1

[2018-08-10 20:03] raulastu commented on #81
1

[2018-08-10 20:06] raulastu opened #83 "row.selectedRow stopped functioning in latest version."
I have  1.6.1 and InlinePickerRowFormer row.selectedRow stopped working. It always selects the first element. It used to work in previous versions

[2018-09-19 08:18] vinsent opened #85 "compiler failure for xCode 10"
`
  public subscript(range: CountableRange<Int>) -> [SectionFormer] {
        return Array<SectionFormer>(sectionFormers[range])
    }

    public subscript(range: CountableClosedRange<Int>) -> [SectionFormer] {
        return Array<SectionFormer>(sectionFormers[range])
    }
`
I  clone this project, than compiler by xCode 10, errored for this two function: Invalid redeclaration of 'subscript'

ho

[2018-09-19 08:33] vinsent commented on #85
in xCode 9.4.1, CountableRange<Bound> is seperate struct, but in xCode 10 this is a typealias of Range<Bound>

`

public typealias CountableRange<Bound> = Range<Bound>`

please resolve this.

[2018-09-20 12:29] matuskopo commented on #85
Can report same problem

[2018-09-20 13:42] lmaix commented on #85
Same here. If anyone can help how to fix. Thanks

[2018-09-23 14:43] Daxito commented on #85
+1
Same over here, please need to release important version to store :-(

[2018-09-26 13:09] datayeah commented on #85
hint:
replace all occurrences of "UILayoutPriority(rawValue: 500)" with "UILayoutPriority.init(500)"
and remove the 2 "Invalid redeclaration of 'subscript'" functions below the first.

[2018-09-29 13:06] vitobellini opened #86 "pod update"
Please, push the new 1.7 version to the cocoapods repo

[2018-09-29 16:02] ZacharyKhan commented on #86
Version `0.1.8` has been released and is the latest version.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-09-29 16:28] vitobellini commented on #86
I see the 1.6.1 version on cocoa pods repo

https://cocoapods.org/pods/Former <https://cocoapods.org/pods/Former>

[2018-12-10 19:43] Voidozzer commented on #83
Same problem here

[2018-12-22 11:52] suleymancalik commented on #86
There is an important bug fix after version 1.7.  Please push a new version. Thanks.

[2019-01-06 06:16] shtnkgm commented on #83
I have the same problem
Former v1.7.0

[2019-01-12 01:01] Daxito opened #89 "Set Background Color to the ForwerRows Container"
Is it possible to set a white background color to the the space that is not occupied by the former rows? see below, I have 3 rows and I have space left but I would like to set it to white, thanks!

![image](https://user-images.githubusercontent.com/16787057/51066903-ff2d8700-15d2-11e9-9cb7-058bd38398ef.png)

[2019-01-14 04:06] walsht opened #90 "Clear button for dates"
I need a way to clear the date once selected.
Button on the InlineDatePickerRowFormer cell to clear the date will work.

[2019-01-16 15:16] walsht opened #91 "No way to format text with TextFieldRowFormer"
No way to format text with TextFieldRowFormer. You have something for date/slider/step but would like to be able to have the user input a number and format it to currency.

[2019-01-25 01:30] Daxito commented on #91
CustomRowFormer allows you to add any UITableViewCell with any content, maybe that can help.

[2019-02-11 05:59] hussainashraf4u opened #93 "Custom UIView is not drawing in the cell"
**I have an .xib having some labels and a CircularProgressBar view which is IBInspectable which is drawing fine in .xib but when I am loading the cell in former, labels are showing up properly but not the progress view, i tried with other ProgressView library from github having same issue**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Ad

[2019-02-13 09:41] Thavasidurai opened #94 "Keyboard hides on cell update"
I have a requirement where I need to expand the text view based on the text height.

Here I am using TextViewRowFormer and onTextChanged callback I calculate the text size and update the row and text view height but keyboard hides after cell update.

Can you please guide me a way to solve this?

[2019-02-21 15:30] cuongnv commented on #73
Thank for reporting

[2019-03-01 04:02] purnachandarr opened #95 "Please add validation data"
Please add validation all the filed getting expected data fielding or not.

Please add validation all the filed getting expected data fielding or not and once all the rows complete with the information give a complete status.

[2019-03-10 23:19] ZacharyKhan commented on #94
I would suggest looking into those two files and see if you can find anything that might be releasing the keyboard.

[2019-03-10 23:19] ZacharyKhan commented on #86
@ra1028

[2019-03-29 02:02] Daxito commented on #89
Figured it out, just added:
 super.tableView.backgroundColor = UIColor.white

[2019-03-29 02:02] #89 closed

[2019-05-31 14:28] qizh opened #97 "A way to have more than one cell in a nib"
**Is your feature request related to a problem? Please describe.**
I would like to keep multiple cells in one Nib.

**Describe the solution you'd like**
Add an extra case to `Former.InstantiateType` enum that will specify some identifier of a cell in Nib. A `restorationIdentifier` or an index. Or just find an instance of a current cell class.

[2019-06-16 02:47] ZacharyKhan commented on #43
Can someone submit a PR with the fixes? Closing this issue as the solution has been found.

[2019-06-16 02:47] #43 closed

[2019-06-16 02:48] ZacharyKhan commented on #27
Closing due to inactivity. My best advice here is to create a custom cell with your own layout and use that instead of trying to modify the default cells.

[2019-06-16 02:48] #27 closed

[2019-06-16 02:49] ZacharyKhan commented on #95
Can you please explain what you are needing?

[2019-06-16 02:50] ZacharyKhan commented on #94
Closing due to inactivity.

[2019-06-16 02:50] #94 closed

[2019-06-16 02:54] ZacharyKhan commented on #93
Hi Hussain,

This issue can be due to a number of things outside the scope of Former. Your issue is most likely an issue with drawing/rendering the control you are trying to use.

Since you are trying to stitch together Former and CircularProgressBar, I believe it may require some trial and error on your end. I am closing this issue as it is not an issue directly related to Former.

[2019-06-16 02:54] #93 closed

[2019-06-16 02:59] ZacharyKhan commented on #91
Hi Tim,

As David mentioned, your best bet is to create a custom cell and use this instead. The default cells are really meant to be used in simple cases or as references when building your own. I'm closing this issue in an effort to focus on actual bugs within the library as there are less and less people maintaining this library.

[2019-06-16 02:59] #91 closed

[2019-06-16 03:02] ZacharyKhan commented on #90
As mentioned in my comment to your other issue, I am closing this in an effort to keep the focus on bugs within the library. There's not enough context here to help you.

If you would like to post a code snippet and create a new issue following the template, I'd be happy to help.

https://github.com/ra1028/Former/issues/new?template=bug_report.md

[2019-06-16 03:02] #90 closed

[2019-06-16 03:03] ZacharyKhan commented on #83
Please resubmit your issue following our template:

https://github.com/ra1028/Former/issues/new?template=bug_report.md

[2019-06-16 03:03] #83 closed

[2019-06-16 03:04] ZacharyKhan commented on #81
This issue should be solved in #88

If you are still having issues, please submit a new issue using the template below:

https://github.com/ra1028/Former/issues/new?template=bug_report.md

[2019-06-16 03:04] #81 closed

[2019-06-16 03:06] ZacharyKhan commented on #86
@ra1028 Can you update the podfile?

[2019-06-16 03:07] ZacharyKhan commented on #71
At this time I do not think there are any plans for new features from us.

You can achieve this using the UITableViewDelegate & UITableViewDataSource protocols.

[2019-06-16 03:07] #71 closed

[2019-06-18 03:21] ZacharyKhan commented on #26
Closing due to inactivity. Please open another issue following our guidelines if this persists.

[2019-06-18 03:21] #26 closed

[2019-06-18 03:21] #47 closed

[2019-06-18 03:22] ZacharyKhan commented on #58
Closing due to inactivity - please open another issue following our guidelines if this issue persists.

[2019-06-18 03:22] #58 closed

[2019-06-18 04:48] ZacharyKhan commented on #86
Ryo emailed me - he will transfer the CocoaPod over to me and I will update to V1.8.0 to include all of the latest updates.

[2019-06-18 04:48] #86 closed

[2019-06-18 04:50] ZacharyKhan commented on #67
If your issue still occurs, please submit a new issue using our guidelines in the README. Closing due to inactivity - we are trying to clean up the issues and focus on bugs.

[2019-06-18 04:50] #67 closed

[2019-06-18 06:15] ZacharyKhan commented on #74
Hello @ilyatar, it's hard to provide help with little context. Please see our readme and submit a new issue following the template.

[2019-06-18 06:15] #74 closed

[2019-06-18 06:24] ilyatar commented on #74
Thank you! This problem is no longer relevant

[2019-06-19 18:19] ZacharyKhan commented on #97
@qizh I am not sure this would make sense to add into Former since it’s a very unique use-case.

Rather, you’d be better off forking the repo and making changes as you need them. I am also unsure why you would want to use multiple cells in a nib, this seems likely to have issues.

What is the need to for multiple cells?

[2019-06-19 18:21] ZacharyKhan commented on #95
@purnachandarr I am closing this issue in an effort to clean up the issues page.

If you’re issue persists, please follow the guidelines in the README and submit a new issue using the template provided via the link.

[2019-06-19 18:21] #95 closed

[2019-06-19 18:22] ZacharyKhan commented on #73
Looking into this

[2019-06-19 18:24] ZacharyKhan commented on #78
I will look into this and get back to you shortly

[2019-06-19 18:25] ZacharyKhan commented on #70
Hello @Recouse, were you able to figure this out or did you still need help?

[2019-06-19 20:55] Recouse commented on #70
@ZacharyKhan thanks, I think I already figured it out)

[2019-06-19 21:09] #70 closed

[2019-11-30 04:39] goranche opened #104 "insert(rowFormer:below:) on SectionFormer inserts wrong rowformer"
**Describe the bug**
I'm trying to add a new row to a section in my setup code, and noticed the row not showing up, although a cell was obviously present.
Coding with tagged version 1.8.0

**To Reproduce**
Steps to reproduce the behavior:
1. enter code:
[code]
2. Run the code

**Expected behavior**
2 shown rows, one `someRow` and one `someOtherRow`

**Desktop (please complete the following informa

[2019-11-30 04:45] goranche commented on #104
I plan to fix this (for starters for my needs, obviously) and will create a PR.
I'll try to find all other occurrences of this bug, as it seems to have been duplicated quite a lot, probably a result of copy-pasting 😉

[2019-12-01 18:05] benwalch commented on #78
any news on this? same issue here. and thanks a lot for this nice piece of software!

[2019-12-05 13:03] andriansergheev opened #105 "Possible retain cycle"
Hi,
there is a possible retain cycle in the lib. I am saying possible because it is probably my code, but I can't see where it comes from so I am writing here,

I don't know if the issue is in the library or in the code, hopefully I will find that out :)

Problem:
<img width="444" alt="image" src="https://user-images.githubusercontent.com/23578783/70237265-17684080-1767-11ea-92de-40d93eb60bdb.png"

[2019-12-10 13:53] brommko commented on #105
Hi,

I have the some problem, here is an image of the example app in memory graph:

![Screenshot 2019-12-04 at 10 20 46](https://user-images.githubusercontent.com/44063941/70535104-bd97ba00-1b5c-11ea-9cd8-a0441ff869ee.png)

Thanks

[2019-12-19 00:33] phr85 commented on #78
@benwalch Do you found a way to fix it?

[2020-02-25 10:22] softknife opened #107 "UITableView reloadData , keyboard dismiss"
I have a TextView inside a UITableViewCell. The text inside the TextView can be edited right there in place.

The TextView grows and shrinks vertically depending on the number of lines the text contains. So far I haven't found a possibility to also let the row containing the TextView grow and shrink dynamically.

I find some solution at stackoverflow [](https://stackoverflow.com/questions/5344206/

[2020-02-25 10:23] softknife opened #108 "UITableView reloadData , keyboard dismiss"
I have a TextView inside a UITableViewCell. The text inside the TextView can be edited right there in place.

The TextView grows and shrinks vertically depending on the number of lines the text contains. So far I haven't found a possibility to also let the row containing the TextView grow and shrink dynamically.

I find some solution at stackoverflow [](https://stackoverflow.com/questions/5344206/

[2020-02-25 10:25] softknife commented on #108
this is one solution [stackoverflow](https://stackoverflow.com/questions/6409370/uitableview-reloaddata-automatically-calls-resignfirstresponder)

[2020-03-01 23:33] ZacharyKhan commented on #108
Hello @softknife,

I anticipate this would require subclassing your own `UITableViewCell` to layout the views in relation to the `UITextView` height. Have you tried subclassing and creating your own cell?

[2020-03-01 23:35] ZacharyKhan commented on #107
This is a duplicate to #108, closing this issue. I'll leave #108 open and we can try to solve this there.

[2020-03-01 23:35] #107 closed

[2020-04-01 18:03] Gerz-inc opened #109 ".automaticDimension for viewHeight of ViewFormer"
Why you didn't use UITableView.automaticDimension as default value for viewHeight?

[code]

[2020-04-05 02:57] ZacharyKhan commented on #109
This would definitely be a great improvement. Feel free to open a PR :)

[2020-04-05 15:56] phr85 opened #110 "Catalyst app: Can't select cell and fill text"
**Describe the bug**
I'm using Former in my iPad App. Now I'm working on macOS version (via Catalyst).

Does anyone also use Former in Catalyst App. How could you fix the issues?

[2020-04-19 18:23] marcheimendinger opened #111 "Initial TextField.text value not displayed"
**Describe the bug**
If a value is present in a TextField on load, it is not displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `TextFieldRowFormer<FormTextFieldCell>`
2. Set `$0.textField.text = "Something"`
3. Add the row to a section, etc.
4. When running the app, "Something" is not shown.

**Expected behavior**
The text value should be displayed.

**Desktop (please compl

[2020-04-20 08:41] marcheimendinger commented on #111
Ok, got it using `$0.text` in `.configure` but still intriguing that it doesn't work with `$0.textField.text`.

[2020-04-20 08:41] #111 closed, assigned to nobody

[2020-05-01 20:25] marcheimendinger opened #112 "Mutable value in onTextChanged"
I wanted to know if there was any possibility to use the value inside the onTextChanged handler as a variable ?

For example I want to automatically add a point after the user entered a specific character.

I cannot figure out any way of doing this with Former… but maybe someone has an idea ?

[2020-06-14 11:49] marcheimendinger commented on #112
Ok this was pretty obvious…

Simply setup an `addTarget` action for `.editingChanged` in `TextFieldRowFormer<FormTextFieldCell>()` configuration handler.

[2020-06-14 11:49] #112 closed, assigned to nobody

[2020-06-16 00:30] Daxito opened #113 "Swift 5 support"
It seems like Xcode still thinks this pod is not in swift 5, why do I still see a Migrate to swift 5 Option in 1.8.1 version?
Great pod

[2020-07-05 22:25] ZacharyKhan commented on #113
Hmm, interesting. I’ll have to recompile with the latest version of Xcode and see what’s going on. It may need to be updated.

[2020-11-29 21:17] developerJuiceLozzoc commented on #63
Can you reopen the pull request? it seems that the readme is not updated. this code that you added, with setting the label text the way you did works for me in swift 5.

[2020-12-07 21:20] moremi opened #114 "XCode debugger problem"
If I run the application via Xcode on a device or simulator. Then the SelectorPickerRowFormer doesn't open anymore. But when I run the same build of the application right away on the device (without an attached debugger), everything works well.
iOS 14.2.1
Xcode 12.2

[2020-12-08 21:07] Daxito commented on #114
I also have the same issue, never able to fix, I just unplug the device from the mac and move on testing.

[2020-12-09 12:30] moremi opened #115 "iOS 14 DatePicker"
In iOS 14, the DatePicker has been updated. And now when you click on the InlineDatePickerRowFormer, you should immediately open the date picker popup, but not increase the cell height as it works now

![image](https://user-images.githubusercontent.com/17122042/101629835-ff3e9780-3a32-11eb-962a-63d86a3fb379.png)

[2020-12-23 09:57] dariy-kordiyak opened #117 "`FormSelectorPickerCell` and `FormSelectorDatePickerCell` don't trigger `UIPickerView` appearance"
**Describe the bug**
iOS 14+: When using `FormSelectorPickerCell` or `FormSelectorDatePickerCell` with internal configurable `UIPickerView` inside them, tap on the cell doesn't trigger appearance of internal `UIPickerView`

**To Reproduce**
Create `FormSelectorPickerCell` or `FormSelectorDatePickerCell` and try to tap on them

**Expected behavior**
`UIPickerView` appears

**Desktop (please complet

[2021-05-02 11:02] marcheimendinger opened #121 "Auto-resize height of headers and footers"
**Is your feature request related to a problem? Please describe.**
It's annoying to always have to manually set the `viewHeight` of a header or footer view as we don't already want a static value, depending of the content and screen size.

**Describe the solution you'd like**
A simple boolean value to enable autoresizing height of headers and footers, based on the content (for example the whole te

[2021-07-13 16:37] jderbs opened #122 ""Cannot find type 'TextFiefldFormableRow' in scope""
Have this protocol implemented in a file, and it's worked for months. All of a sudden I started getting this error. Not sure why.
Here's the file:

[code]